* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg: #d9e7fa;
  --tile-boxes: #98dff5;
  --header-line: #2a2a2e;
  --contours:var(--tile-boxes);
  --titles: #0c2b4d;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Header */
header {
  display: flex;
  width: 100vw;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-line);
}
header h1{
  background-color: var(--tile-boxes);
  padding-left: 65px;
  padding-right: 10px;
  text-align: start;
  color: var(--header-line);
}
nav ul{
  display: flex;
  justify-content: flex-end;
  padding-right: 65px;
}

nav li {
  padding:5px ;
  border-bottom: 5px solid var(--tile-boxes);
  margin: 0 5px;
  
}
nav li a{
  color: var(--tile-boxes)
}


/* Hero Banner */
.hero-banner{
  background-image: url(/starter/images/02-hero-bg.jpg);
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover; 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}
.hero-banner div h2 {
  background-color: var(--tile-boxes);
  color: var(--header-line);
}

/* Page Wrapper */

#about, #work, #contact {
  display: flex;
  
}
.page-section h2{
  color: var(--titles);
  font-size: 40px;
  text-align: right;
  border-right: 5px solid var(--titles);
  padding: 0px 20px 0px 50px;
  margin: 40px 50px 0px 50px;
  width: 20%;
  max-width: 250px;
  min-width: 100px;
}
#About-me-text, #grid, #contact-me-text {
  margin: 20px 200px 0px 0px;
  width: 80%;
}

/* Portfolio Container  */

#grid {
  display: grid;
  height: 1000px;
  margin-top: 40px;
  padding: 0;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "project1 project1"
  "project1 project1"
  "project2 project3"
  "project4 project5"
  ;
}

#project1 {
  grid-area: project1;
}
#project2 {
  grid-area: project2;
}
#project3 {
  grid-area: project3;
}
#project4 {
  grid-area: project4;
}
#project5 {
  grid-area: project5;
}

#project1,#project2,#project3, #project4, #project5 {
  border: 5px solid var(--tile-boxes);
  align-items: center;
  
  
}

#project1,#project2,#project3 {
  margin-bottom: 20px;
}

#project2,#project4{
  margin-right: 10px ;
} 

#project3, #project5 {
  margin-left: 10px ;
} 



/* Contact me */
#contact-me-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center ;
}

#contact-me-text p {
  color: var(--titles);
  border-bottom: 5px solid var(--titles);
  padding:5px;
}