* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Header */
header {
  display: flex;
  width: 100vw;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

header h1{
  background-color: aqua;
  padding-left: 65px;
  text-align: start;
  color: grey;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding-right: 65px;
  
}

nav li {
  padding:5px ;
  border-bottom: 5px solid aqua;
  margin: 0 5px;
  
}

nav li a{
  text-decoration: none;
  color: aqua;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
